<div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">You have a New Referral!</h4>
                                
                            </div>
                           <p> Hello {{fullname}}! We are really glad you decided to invite your friends join you at <a href = "swiftrevolver.com">SWIFT REVOLVER</a> And we are pleased to inform you that you have a new referral! Here are the details of your new referral:<br></p>
                           <p>Username: {{username}}<br>
                         email: {{email}}
                         </p>
                           <p> Please rush to your dashboard and confirm this. Do not forget to call him/her, encourage them to join the matrix and join your group chat so you can keep earning your 100% referral bonus from them...<br><br>…keep winning…</p>
                        </div>
                    </div>
                    