<div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Your Earnings</h4>
                                
                                <ul class="category">
                              <h5>  
                              <li>Feeder Stage: {{earnings.feeder}}
							<li>Stage 1: {{earnings.feeder}}</li>
							</ul>
                            </div>
                            <div class="content">
							
                                
                                    <hr>
                                    <div class="stats">
                                        <i class="ti-reload"></i> Updated Now
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>