{{> mainh}}
<body style="background-color: lightblue">
 {{> mainnav}}
<br><br>
    <div class="container"> 
        <h4 style="text-align: center">{{title}}</h4><br>
     </div>
     <!-- <div class="container-fluid">
      <div class= "bg bg-secondary">
      	 	 <div style= "text-align: center">
      	 	 <h4 style= "color: navy"> TIME LEFT TO LAUNCH</h4>
      	 	 	<b><h2 style= "color: red" id= "count"></h2></b>
      	 	 	</div>
      </div>
      </div>-->
     <div class="container-fluid"> 
          <div style="text-align: left"> 
     			<h4>HOW IS AKAHLINE INTERNATIONAL DIFFERENT FROM OTHERS?
     			</h4>
     			<p>AKAHLINE is probably the only online business with hybrid earning system.easy to achieve</p>
     			<h4>HOW DOES IT WORK?
     			</h4>
     			<p>AKAHLINE INTERNATIONAL operate 4 by 1 matrix at feeder, 4 by 2 at stage 1, 4 by 1 from stages 2 to stages 4. please check the <a href="howitworks">compensation plan </a> for full details.</p>
     			<h4>CAN I HAVE MULTIPLE ACCOUNTS OR REGISTRATIONS?
     			</h4>
     			<p>YES! Like every other online businesses, multiple registration is allowed so long it can be managed by the owner.</p>
     			<h4>IS THE PROGRAMME OPEN TO EVERYONE?
     			</h4>
     			<p>
Yes, the membership is open to anyone, individuals or teams.</p>
<h4>CAN I SPONSOR MORE THAN FOUR?
     			</h4>
     			<p>
Yes, however, you   cannot have more than four under you directly as the extra people you refer will spill down to your leg who has less than four persons under them.</p>
<h4>DOES THE COMPANY OFFER REFUND IN CASE I AM NO LONGER INTERESTED?
     			</h4>
     			<p>
NO! the company policy does not do refund of registration fees. you are advised to think well before you decide to register.</p>
<h4>HOW AND HOW DO I RECEIVE MY CASH REWARD?
     			</h4>
     			<p>
Cash rewards are instantly credited to your E-wallet account. It is your duty to request for cash out to your local bank account at any point in time.</p>
<h4>HOW DO I GET MY AWARDS?
     			</h4>
     			<p>

Awards events will always be organized mainly for awards/ members can also walk in to pick awards at office</p><br><br>
     		</div>
     </div>
{{> mainf}}