{{> mainh}}<br>
<div class="container-fluid">
      <div class= "bg bg-danger">
      	 	 <div style= "text-align: center">
      	 	 <h2 style= "color: navy"><b> TIME LEFT TO LAUNCH</b></h2>
      	 	 	<b><h2 id= "count" style ="color: red"></h2></b>
      	 	 	</div>
      </div>
 <div class="content-sec inner-sec">
 <div class="row">
 <div class="large-12 columns">
 <h2>{{title}}</h2>
 </div>
 <div class="clearfix"></div>
 <div class="large-6 medium-6 small-12 columns faq">
 <h3>Is my personal information protected with your company?</h3>
 <p>Any personal information that you provide to any of our businesses are privacy protected. 

Your information will never be shared or sold to anyone! 

</p>
 </div>
 
 <div class="large-6 medium-6 small-12 columns faq">
 <h3>Are there any refunds?</h3>
 <p>No. The money you pay upon registration will be paid directly to your sponsor or the sponsor of your sponsor or the most qualified person in your matrix. Hence, you bought your position in the matrix.</p>
 </div>
 <div class="clearfix"></div>
 
 <div class="large-6 medium-6 small-12 columns faq">
 <h3>Am I supposed to give my password downline info to my upline?</h3>
 <p>NO.. Your password is for you only and your upline does not need your downline information.</p>
 </div>
 
 <div class="large-6 medium-6 small-12 columns faq">
 <h3>The system is telling me to pay someone I do not think I should be paying.. What do I do?</h3>
 <p>Follow the system and pay who the system tells you to pay... </p>
 </div>
  <div class="large-6 medium-6 small-12 columns faq">
 <h3>I have the wrong sponsor what do I do?</h3>
 <p>Your account will auto delete in 72 hours then you can re register and follow the instructions above the form..
<br><br>
<emp><strong>IMPORTANT PLEASE READ THIS!!</strong></emp>

Make sure your sponsors name is at the sponspor column in the registration form.

If it is not present please copy the link again with no space at the end.
</p>
 </div>
 
 <div class="large-6 medium-6 small-12 columns faq">
 <h3>Can I change my Username?</h3>
 <p>No.. Usernames and emails are the only thing in your profile that can not be changed...</p>
 </div>
 <div class="clearfix"></div>
 
 <div class="large-6 medium-6 small-12 columns faq">
 <h3>HOW IS SWIFT REVOLVER DIFFERENT FROM OTHERS?</h3>
 <p>SR is probably the only online business with hybrid earning system, easy to achieve, built with the users in mind, encourages sponsorship and great team spirit</p>
 </div>
 
 <div class="large-6 medium-6 small-12 columns faq">
 <h3>IS THE PROGRAMME OPEN TO EVERYONE?
</h3>
 <p>Yes, the membership is open to anyone, individuals or teams.</p>
 </div>
 <div class="large-6 medium-6 small-12 columns faq">
 <h3>Is SR peer to peer?
</h3>
 <p>Yes, Members receive money from one another</p>
 </div>
  <div class="large-6 medium-6 small-12 columns faq">
 <h3>Must i refer to earn?
</h3>
 <p>It depends. But note that this is strictly a multi level marketing platform and as such, it is a referral based business (your referrals follow you), if you cannot refer, join these fast teams <a href = "/fastteams">here</a> to benefit from the spillovers and earn without referring.</p>
 </div>
  <div class="large-6 medium-6 small-12 columns faq">
  <h3>Can i register without a sponsor?
</h3>
 	<p>To register, get a referral link from your sponsor as you cannot register without a referral link. Once you complete your free registration, you will be required to enter the feeder matrix which is N10,000.
     		</p><br>
     		<p>We always advise to join a good team especially the ones <a href = "/fastteams">here </a> <b>whether you can refer or not</b>. Reasons are that you might have a stucked downline and the spillovers from your sponsors team as well as your team will cover it so you will be fetching from two wells which means more speed. Another reason is to monitor the flow of cash yourself.
     		</p>
 </div>
 <div class="large-6 medium-6 small-12 columns faq">
 <h3>How long is the matrix?</h3>
 <p>Our feeder matrix is a 3 x 1 forced matrix. Meaning its just one level deep! 
</p>
 </div>
 <div class="large-6 medium-6 small-12 columns faq">
 <h3>Will all my three direct downline pay to me</h3>
 <p>No. Lets say you have three legs (a, b and c), A pays to you, B pays to your sponsor (as sponsor bonus) while C pays to you.
</p>
 </div>
 <div class="large-6 medium-6 small-12 columns faq">
 <h3>What is the ROI?</h3>
 <p>It depends on you. <br><b>When you don't refer anyone,</b> you get 100% ROI while your sponsor gets 100% referral bonus from your leg hence, you get N20,000.<br><br><b>When you refer Just your three persons,</b> you get 100% ROI while your sponsor gets 100% referral bonus from your leg. Also you get 100% from each of your downlines leg which is 300%. In essense, you get a total of 400% which is N50,000.<br><br><b>When you refer More than three or less than three, </b>just be aware that on every one you refer, you get 100% referral bonus.
</p>
 </div>
  <div class="large-6 medium-6 small-12 columns faq">
 <h3>Can i refer more than three persons?</h3>
 <p>Yes. However, the rest goes as spillover to your referrals.
</p>
 </div>
  <div class="large-6 medium-6 small-12 columns faq">
 <h3>What will happen when my three referrals are complete?</h3>
 <p>Purchase  the stage again otherwise, you will stop earning... even your sponsor bonus will not go to you. Reason? So you will not stop entering the stage because you will still earn as it will kill the system. To avoid killing and destroying the flow, you have to re enter so your own sponspor can earn too.
</p>
 </div>
  <div class="large-6 medium-6 small-12 columns faq">
 <h3>I paid but my upline refused to confirm my payment?</h3>
 <p>Unconfirmed payments for more than 48 hours will immediately cause both accounts to be inactive. You will not receive or earn. You are now both to send your evidence of payments in the support ticket.<br> What you are to send is the evidence of payment or a forwarded email alert from your bank in the case of transfer and the statement of account from your bank if you are the receiver. The erring party will be blocked and deleted permanently. We do not need dishonest persons.
</p>
 </div>
 </div>
 </div>   
 
{{> mainf}}