{{> mainh}}
<body>
<br><br>
<div class="container-fluid">
      <div class= "bg bg-danger">
      	 	 <div style= "text-align: center">
      	 	 <h4 style= "color: navy"> TIME LEFT TO LAUNCH</h4>
      	 	 	<b><h2 style= "color: navy" id= "count"></h2></b>
      	 	 	</div>
      </div>
<div class="content-sec inner-sec">
 <div class="row">
 <div class="large-12 columns">
 <h2>{{title}}</h2>
 </div>
 <div class="clearfix"></div>
  <div class="large-6 medium-6 small-12 columns faq">
  <p> <b>FEEDER STAGE</b></p>
  <p> Once you are in this stage, you automatically become qualified to take part in our courses. You get to interact with your peers and seniors in the course. At the end, you should be able to build on your newly acuired skill as well as market them to your world. <a href="/faq/#refund">See this</a> for more info. <br><br>In addition to the skills, you also get 60% (N8000) ROI on your matrix and also get 80% (N4000) referral bonus from each of your referrals as long as you keep re entering the stage. This is done to enable fairness and help your sponsor refer more persons for you if you can not refer. <br><br> How it is done is this; In our feeder matrix for instance, You enter the matrix with N5000. Ypu will not pay the whole N5000 to your upline as 80% (N4000) goes to your upline while 20% (N1000) goes to the admin account in order to ensure the smooth running of SR. This being the case, your first leg pays to you, your second pays to your sponsor while your third leg pays to you.To solve this is very easy as the formula is (Referral income per one x number of referrals for upgrade). So if you refer 1 person, you have 4,000 x 1 which is N4,000 referral bonus. Ten persons have 4,000 x 10 = N40,000 referral bonus! <br><br> </p>
 </div>
  <div class="large-6 medium-6 small-12 columns faq">
  <p>Since this matrix is just one level deep, and you  need only three referrals, once you max out, you are to re enter the matrix again so you can keep earning.
  </p>
  <img src="/images/matrix.png"
  </div>
 </div>
 </div>   
       
{{> mainf}}