{{> mainh}}
<body>
 {{> mainnav}}
<br><br>
    <div class="container"> 
      <div style="color: red"> 
        <h4 style="text-align: center">{{title}}</h4><br>
        </div>
     </div>
<!-- <div class="container-fluid">
      <div class= "bg bg-success">
      	 	 <div style= "text-align: center">
      	 	 <h4 style= "color: navy"> TIME LEFT TO LAUNCH</h4>
      	 	 	<b><h2 style= "color: red" id= "count"></h2></b>
      	 	 	</div>
      </div>
      </div>-->
     <div class="container"> 
          <div style="text-align: left"> 
        
          	<p>By registering with one time fee of N4000, you are automatically a member of the company with full access to all the serivces offered by the company and you automatically move to feeder stage.
     		</p>
     		  <div style="color: red"> 
     		<h4>FEEDER STAGE
     			</h4>
     			</div>
     			<p>To earn in this stage,you are to introduce two persons at left and two at right automatically move to stage1.
     		</p>
     		<img src="./dist/img/4x1.jpg" width = "200" height= "100">
     		<br><br>
     		  <div style="color: red"> 
     		<h4> EARNINGS</h4>
     		<ul>
     		<li> CASH: N4000</li>
     		</ul>
     		<h4> STAGE ONE</h4>
     		</div>
     				<p>For you to complete stage1 you need 20 of your downline to complete feeder and meet you in stage 1.You automatically move to stage 2
     		</p>
     		<img src="./dist/img/4x2.jpg" width = "200" height= "100"><br><br>
     		  <div style="color: red"> 
     							<h4>  EARNINGS</h4>
     							<img src="./dist/img/powerbank.jpeg" width = "300" height= "250"><br><br>
     		<ul>
     		<li> CASH: N40,000</li>
     		<li> POWER BANK: N4,000</li>
     		</ul>
     			<p>You get a total of N44,000 in this stage.
     		</p>
     		
     			<h4> STAGE TWO</h4>
     			</div>
     				<p>For you to complete stage2 you need 4 of your downline to complete STAGE1 and meet you in stage 2.You automatically move to stage 3 <br><br>
     		</p><img src="./dist/img/4x1.jpg" width = "200" height= "100">
     	<br><br>
     		         <div style="color: red"> 
                        <h4>  EARNINGS</h4>
                        <img src="./dist/img/phone.jpeg" width = "200" height= "250"><br><br>
                        
     		<ul>
     		<li> CASH: N100,000</li>
     		<li> MOBILE PHONE: N30,000</li>
     		</ul>
     			<p>You get a total of N130,000 in this stage.
     		</p>
     			<h4> STAGE THREE</h4>
     			</div>
     				<p>For you to complete stage3 you need 4of your downline to complete stage2 and meet you in stage 3.You automatically move to stage 4
     		</p>
     		<img src="./dist/img/4x1.jpg" width = "200" height= "100">
     		  <div style="color: red"> <br><br>
     							<h4> EARNINGS</h4>
     							<img src="./dist/img/laptop.jpg" width = "300" height= "250"><br><br>
                        
     		<ul>
     		<li> CASH: N200,000</li>
     		<li> LAPTOP: N100,000</li>
     		</ul>
     			<p>You get a total of N300,000 in this stage.
     		</p>
     			<h4> STAGE FOUR</h4>
     			</div>
     				<p>For you to complete stage4 you need 4of your downline to complete Stage3 and meet you in stage 4.You automatically recycle out 
     		</p>
     		<img src="./dist/img/4x1.jpg" width = "200" height= "100"><br><br>
     		  <div style="color: red"> 
     							<h4> EARNINGS</h4>
     							<img src="./dist/img/car.jpeg" width = "250" height= "250">
                        <br><br> 
     		<ul>
     		<li> CASH: N400,000</li>
     		<li> LEADERSHIP AWARD: N100,000</li>
     				<li> EMPOWERMENT: N100,000</li>
     						<li> CAR AWARD: N4,000,000</li>
     								<li> SALARY FOR 12 
     								MONTHS: N30,000</li>
     		</ul>
     			<p>You get a total of N4,900,000  in this stage.
     			</div>
     		</p>
          </div><br>
          <addr>
         <p><b>ACCOUNT NAME:</b>  AKAHLINE GLOBAL SERVICES</p>
 <p><b>BANK NAME:</b>  UBA BANK</p>

 <p><b>ACCOUNT NUMBER.:</b>  1021487098</p>

       </div><br><br>
       
{{> mainf}}