{{> mainh}}<br>
<div class="container-fluid">
      <div style= "color: ivory">
      	 	 <div style= "text-align: center">
      	 	 <h2 style= "color: navy"><b> TIME LEFT TO LAUNCH</b></h2>
      	 	 	<b><h2 id= "count" style ="color: red"></h2></b>
      	 	 	</div>
      </div>
 <div class="content-sec">
 <div class="row">
 <div class="large-12 columns text-center">
 <h2>Welcome to SWIFT REVOLVER</h2>
<p> Swift Revolver (SR) is an network marketing platform whose vision is to improve and develop agricpreneurs, ICT, technological advancement and skill acquisition which will in turn increase the rate of employers and employment in the country and reduce the rate of social vices too. We render vigorous online and onsite trainings to individuals in order to make them better financially, morally, intellectually and socially. We have the vision to include comprehensive trainings such as fashion and designing, agribusiness (in general), graphics designing, shoe, belt and bag making, web development, mobile app development, hacking, SEO and digital marketing, hardware development, power generation (solar energy and biogas), interior decoration, furniture making, auto mechanic, auto electrical, panel beating, make up and cosmetology, industrial production (in general) and issue certificates based on the skill acquired.

<br><br>In addition to the above skills, SR enables her users to Earn while they Learn using a forced matrix system and rewards her users with referral commissions as high as 60%.


<br> <br>Swift revolver is not a 'get rich quick' scheme, not a money doubling platform, not a ponzi scheme but a pure skill acquisition program targeted at reducing unemployment to its lowest minimum, increasing technological advancement, providing the country with young vibrant youth with strong interest in agribusiness, reducing social vices, increasing security and industries and is intertwined with Multi Level Marketing (MLM). However, because, we do not want to stress you with hard to achieve long matrix, we made it easy and simple.


<br><br> SWIFT REVOLVER remains the first multi level marketing platform that encourages and support team leaders and sponsors as well as accommodate comfortably those that would be called 'stagnant leg' in other networking platforms as it offers a whooping percentage of 80% on every referral introduced.

 <br><br>Here at SWIFT REVOLVER, we encourage team work to a great extent which is the major reason why our registration is strictly by referral also, we encourage you to check out our <a href ="/fastteams">fast teams</a> or join a fast team you know whether you can refer or not so neither you nor your downlines will ever be stucked anywhere.
 
  <br><br><b>From time to time, we will run promotions please look out for them in your dashboard</b>
<br><br>Once again welcome to SWIFT REVOLVER! We do hope you stay with us... Do not stop winning..!
</p>
 </div></div>
 </div>   
 
 <div class="services-sec">
 <div class="row">
 <div class="large-12 columns"><!--<h2 id ="about"> ABOUT US</h2></div>
 <div class="container">
  <div style="text:align: center">
 <p>
 </p>
 </div>-->
  </div>
 <div class="large-4 medium-4 small-12 columns">
 <div class="img-box"><img src="images/about.jpeg" alt="Service1"></div>
 <div class="txt-box text-center">
 <h3 id="about">ABOUT US</h3>
 <p>We are a group of vibrant youth willing to take charge of our world and nation, eager to be the best and kick out unemployment from our world.</p>
 <a href="/register/:username/" class="button radius"> Join Us</a>
 </div>
 </div>
 
 <div class="large-4 medium-4 small-12 columns">
 <div class="img-box"><img src="/images/compensation.jpeg" alt="Service1"></div>
 <div class="txt-box text-center">
 <h3>COMPENSATION PLAN
 </h3>
 <p>Our Feeder plan is a 3 x 1 forced revolving matrix. The entrance is N5,000 hence you get 60% (N8000) ROI and 80% (N4000) referral bonus. <br><br>Upon entrance, you will be exposed to comprehensive trainings of your choice which will include a business course to enable you be extremely productive in your new business.</p>
 <a href="/howitworks" class="button radius"> Learn More</a>
 </div>
 </div>
 
 <div class="large-4 medium-4 small-12 columns">
 <div class="img-box"><img src="/images/contact.jpeg" alt="Service1"></div>
 <div class="txt-box text-center">
 <h3 id ="contact">CONTACT US</h3>
 <p>Reach us @ <a href="mailto: admin@swiftrevolver.com">admin@swiftrevolver.com</a></p>
 <p> Got questions? See our FAQ... <br><br>
 <a href="/faq" class="button radius"> FAQ</a> 
 </div>
 </div>
 
 </div> 
 </div>
 
{{> mainf}}