{{> mainh}}<br>
<div class="container-fluid">
      <div style= "color: ivory">
      	 	 <div style= "text-align: center">
      	 	 <h2 style= "color: navy"><b> TIME LEFT TO LAUNCH</b></h2>
      	 	 	<b><h2 id= "count" style ="color: red"></h2></b>
      	 	 	</div>
      </div>
 <div class="content-sec">
 <div class="row">
 <div class="large-12 columns text-center">
 <h2>Welcome to SWIFT REVOLVER</h2>
<p>SWIFT REVOLVER is a triumph peer to peer network marketing platform that is just too good to be true to the normal mind but Fortunately, it is actually true. <br><br>SR focuses and exist to increase and develop the agricultural and technological mind of her users as well as increase the financial capability of her users.<br><br> It was created and birthed as a result of the irregularities, failures and 'hard to achieve' nature of other online businesses and network marketing platforms which leads to the users being frustrated, scammed or stucked.<br> <br>Swift revolver is not a 'get rich quick' scheme, not a money doubling platform, not a ponzi scheme but a pure referral based multilevel marketing platform whose matrix is a revolver matrix which means you keep working with the same set of referrals! Our feeder matrix is just one level deep and requires 3 downlines per person which means you get to earn and recycle faster! <br><br> SWIFT REVOLVER remains the first multi level marketing platform that encourages and support team leaders and sponsors as well as accommodate comfortably those that would be called 'stagnant leg' in other networking platforms as it offers a whooping percentage of 100% on every referral introduced. <br><br>Here at SWIFT REVOLVER, we encourage team work to a great extent which is the major reason why our registration is strictly by referral also, we encourage you to check out our <a href ="/fastteams">fast teams</a> or join a fast team you know whether you can refer or not so neither you nor your downlines will ever be stucked anywhere. <br><br><b>From time to time, we will run promotions please look out for them in your dashboard</b>
<br><br>Once again welcome to SWIFT REVOLVER! We do hope you stay with us!
</p>
 </div></div>
 </div>   
 
 <div class="services-sec">
 <div class="row">
 <div class="large-12 columns"><!--<h2 id ="about"> ABOUT US</h2></div>
 <div class="container">
  <div style="text:align: center">
 <p>
 </p>
 </div>-->
  </div>
 <div class="large-4 medium-4 small-12 columns">
 <div class="img-box"><img src="images/about.jpeg" alt="Service1"></div>
 <div class="txt-box text-center">
 <h3 id="about">ABOUT US</h3>
 <p>We (Every registered member) are a group of vibrant individuals providing one another with various opportunities, helping one another and effecting positive changes in our world.</p>
 <a href="/register" class="button radius"> SIGN UP</a>
 </div>
 </div>
 
 <div class="large-4 medium-4 small-12 columns">
 <div class="img-box"><img src="images/compensation.jpeg" alt="Service1"></div>
 <div class="txt-box text-center">
 <h3>COMPENSATION PLAN
 </h3>
 <p>Our Feeder plan is a 3 x 1 forced revolving matrix. The entrance is N10,000 hence you get 100% ROI and 100% referral bonus. <br><br>Upon entrance, you will be exposed to comprehensive web development courses so you can create your own web applications the way you want.</p>
 <a href="/howitworks" class="button radius"> Learn More</a>
 </div>
 </div>
 
 <div class="large-4 medium-4 small-12 columns">
 <div class="img-box"><img src="/images/contact.jpeg" alt="Service1"></div>
 <div class="txt-box text-center">
 <h3 id ="contact">CONTACT US</h3>
 <p>Reach us @ <a href="mailto: admin@swiftrevolver.com">admin@swiftrevolver.com</a></p>
 <p> Got questions? See our FAQ... <br><br>
 <a href="/faq" class="button radius"> FAQ</a> 
 </div>
 </div>
 
 </div> 
 </div>
 
{{> mainf}}