<!doctype html>
<html lang="en">
  

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../../external.html?link=https://getbootstrap.com/favicon.ico">

    <title>{{title}}</title>

    <!-- Bootstrap core CSS -->
    <link href="./dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
      <link href="assets/css/themify-icons.css" rel="stylesheet">
<!-- Animation library for notifications   -->
    <link href="assets/css/animate.min.css" rel="stylesheet"/>
    
    <link href="./dist/css/carousel.css" rel="stylesheet">
       <link href="./dist/css/dashboard.css" rel="stylesheet">
  </head>

    