{{> spageh}}
         <div class="container"> 
        <h4 style="text-align: center">{{title}}</h4><br><hr>
     </div>
        <div class="container-fluid"> 
{{#if news}}
{{#each news}}
<h3 style= "text-align: center"><b> {{subject}}</b></h3>
<p style ="text-align: justify">{{text}}</p><br>
{{/each}}
{{/if}}
</div>
{{> spagef}}