<div class="col-lg-3 col-sm-6">
                        <div class="card">
                            <div class="content">
                                
                                        <div class="numbers">
                                            <p><b>MERGING</b> </p>
                                                   <p >Please wait... a revolver will pay you soon</p>
                                                   <img src ="assets/img/loader.gif" height ="150" width ="150" alt =" loader">
                                        </div>
                                    </div>
                                </div>
                                <div class="footer">
                                    <hr />
                                    <div class="stats">
                                        <i class="ti-reload"></i> Updated Now
                                    
                        </div>
                    </div>